/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFDD0;
}

header {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 6.25rem);
  grid-template-rows: repeat(3, 6.25rem);
}
.game-container .cell {
  background: transparent;
  transition: background 0.3s ease, border-radius 0.5s ease, border 0.5s ease, transform 0.2s ease, width 0.2s ease, height 0.2s ease, margin 0.2s ease;
  padding: 0;
  cursor: pointer;
}
.game-container .cell:hover {
  border-width: 0.3125rem;
}
.game-container .cell:active {
  transform: scale(0.9);
}
.game-container .x-symbol {
  margin: 0.9375rem;
  width: 4.375rem;
  height: 4.375rem;
  border: 1px solid #D45757;
  filter: drop-shadow(12px 12px 0px rgba(212, 87, 87, 0.2509803922));
  border-radius: 15px;
}
.game-container .x-symbol.filled {
  border: 35px solid #D45757;
  background: #D45757;
}
.game-container .o-symbol {
  margin: 0.78125rem;
  width: 5rem;
  height: 5rem;
  border: 1px solid #035668;
  filter: drop-shadow(12px 12px 0px rgba(3, 86, 104, 0.1254901961));
  border-radius: 50%;
}
.game-container .o-symbol.filled {
  border: 18px solid #035668;
}

.player-select {
  background: transparent;
  padding: 0.2rem 0.7rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #373434;
  cursor: pointer;
  border: 2px solid #D45757;
  box-shadow: 0.3rem 0.3rem 0 0 rgba(55, 52, 52, 0.2509803922);
  border-radius: 10px;
}

.player-select:hover {
  box-shadow: 0.6rem 0.6rem 0 0 rgba(55, 52, 52, 0.2509803922);
}

.player-select:active {
  transform: scale(0.9);
}

.player-select.computer {
  border-color: #D45757;
}

.player-select.computer.locked {
  background-color: #D45757;
}

.player-select.self {
  border-color: #035668;
}

.player-select.self.locked {
  background-color: #035668;
}

.locked {
  color: white;
}

.msg-container {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: #373434;
  overflow: hidden;
}
.msg-container .msg {
  position: absolute;
  transform: translateX(-50%);
  transition: left 0.5s ease;
}
.msg-container .x-move {
  left: 50%;
}
.msg-container .o-move {
  left: 200%;
}
.msg-container .result {
  left: 50%;
}
.msg-container .red-text {
  color: #D45757;
}
.msg-container .blue-text {
  color: #035668;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-container {
  display: flex;
  gap: 3.6rem;
}

.btn {
  padding-bottom: 1.4rem;
  max-height: 24px;
  background: transparent;
  border: none;
  border-bottom: 0.3rem solid #035668;
  transition: border-width 0.2s ease;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #373434;
  cursor: pointer;
}

.btn:hover {
  border-width: 0.6rem;
}

.btn:active {
  transform: scale(0.9);
}

.back,
.next {
  visibility: hidden;
  border-color: #D45757;
}

.game-title-container {
  padding-bottom: 1.5rem;
}
.game-title-container .game-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #373434;
}
.game-title-container .red-text {
  color: #D45757;
}
.game-title-container .blue-text {
  color: #035668;
}

.credit-container {
  padding-bottom: 0.5rem;
}
.credit-container .credit-link {
  text-decoration: none;
  visibility: hidden;
}
.credit-container .credit-link .credit-txt {
  padding: 0.2rem;
  transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #373434;
  background: none;
  border-bottom: 2px solid #373434;
  animation: fadeIn 0.8s ease-out;
}
.credit-container .credit-link .credit-txt:hover {
  background: rgba(212, 87, 87, 0.2509803922);
  border-color: #FFFDD0;
}
.credit-container .credit-link .credit-txt:active {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
