$bg-color-primary: #FFFDD0;
$bg-color-shadow: #FFFDD040;
$x-color-primary: #D45757;
$x-color-shadow: #D4575740;
$o-color-primary: #035668;
$o-color-shadow: #03566820;
$txt-color-primary: #373434;
$txt-color-shadow: #37343440;
