@use 'colors' as c;

.game-title-container {
    padding-bottom: 1.5rem;

    .game-title {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: c.$txt-color-primary;
    }

    .red-text {
        color: c.$x-color-primary;
    }

    .blue-text {
        color: c.$o-color-primary;
    }
}

.player-select {
    background: transparent;
    padding: 0.2rem 0.7rem;
    transition: transform 0.2s ease,
                box-shadow 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: c.$txt-color-primary;
    cursor: pointer;
    border: none;
    border: 2px solid c.$x-color-primary;
    box-shadow: 0.3rem 0.3rem 0 0 c.$txt-color-shadow;
    border-radius: 10px;
}

.player-select:hover {
    box-shadow: 0.6rem 0.6rem 0 0 c.$txt-color-shadow;
}

.player-select:active {
    transform: scale(0.9);
}

.msg-container {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    color: c.$txt-color-primary;
    overflow: hidden;

    .msg {
        position: absolute;
        transform: translateX(-50%);
        transition: left 0.5s ease;
    }

    .x-move {
        left: 50%;
    }

    .o-move {
        left: 200%;
    }

    .result {
        left: 50%;
    }

    .red-text {
        color: c.$x-color-primary;
    }

    .blue-text {
        color: c.$o-color-primary;
    }
}

.btn-container {
    display: flex;
    gap: 3.8rem;
}

.btn {
    padding-bottom: 1.4rem;
    max-height: 24px;
    background: transparent;
    border: none;
    border-bottom: 0.3rem solid c.$o-color-primary;
    transition: border-width 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: c.$txt-color-primary;
    cursor: pointer;
}

.btn:hover {
    border-width: 0.6rem;
}

.btn:active {
    transform: scale(0.9);
}

.back,
.next {
    visibility: hidden;
    border-color: c.$x-color-primary;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
